:root {
  /* se puede asignar otros valores como fuentes*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;

  --fuente-principal: 3.8rem;
}
/* Globales */
/*permite adaptar tamtañp de texto a todos los dispositivos*/
html {
  font-size: 62.5%;
  box-sizing: border-box; /*Hack Box Model, resolver problema de calcular padding*/
}
/*resolver problema de calcular padding, que no excede el tamaño que definimos con weight*/
*, /* * selecciona todos los elementos de html , aplica las mismas reglas a diferentes selectores*/
*:before, /*coloca reglas para añadir codigo luego de otro, no se puede inspeccionar en html*/
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Krub", sans-serif; /*aplica a todos los elementos de la pagina*/
  background-image: linear-gradient(
    to top,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  ); /*crear fondo con degradado*/
}

.contenedor {
  max-width: 120rem;

  /*centrar elementos*/
  margin: 0 auto;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  border: none;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

/* para que al pasar sobre el boton enviar salga la manito de hacer click*/
.boton:hover {
  cursor: pointer;
}

.sombra {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.48);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}
/* Tipografia */
/*una buena practica ir de lo mas general a lo mas especifico*/
h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Titulos */
.titulo span {
  font-size: 2rem;
}

/* Utilidades */
.w-sm-100 {
  /* cambiar ancho al 100% del boton enviar */
  width: 100%;
}
@media (min-width: 768px) {
  .w-sm-100 {
    width: auto;
  }
}
.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: center;
}

/* Navegacion Principal */
.nav-bg {
  /*se esta ultilizando un estilo de UTILIDADES para escriir codigo CSS*/
  background-color: var(--secundario);
}
.navegacion-principal {
  display: flex; /*flex habilita justify content para alinear horizontalmente*/
  /* por defecto la navegacion seria en columnas*/

  flex-direction: column; /* en resoluciones mayores a 768px muestra en fila*/
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; /*space-between añade separación entre los elementos*/
  }
}
.navegacion-principal a {
  display: block;
  text-align: center;
  /*se esta ultilizando un estilo de MODULOS para escriir codigo CSS*/
  color: var(--blanco);
  text-decoration: none; /*quitar linea de abajo de link*/
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem; /*para que el fondo ocupe todo el alto*/
}

.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

/* Hero */
.hero {
  background-image: url(/img/hero.jpg);
  background-repeat: no-repeat; /*para no repetir la imagen si no ocupa todo el espacio*/
  background-size: cover; /*se agranda la imagen para coincidir  a lo ancho*/
  height: 410px;
  position: relative;
  margin-bottom: 2rem;
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* forma anterior*/
  background-color: rgb(0 0 0 / 70%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 1fr=33.3% divide el 100% en 3 fracciones*/
    /* grid-template-columns: repeat(3, 1fr); */
    column-gap: 1rem; /*añade espacio entre columnas a cada lado siendo 1 rem el total*/
  }
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicio h3 {
  color: var(--secundario);
  font-weight: normal;
}
.servicio p {
  line-height: 2;
  text-align: center;
}
.servicio .iconos {
  height: 15rem;
  width: 15rem;
  background-color: var(--primario);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Contacto */
.formulario {
  background-color: var(--gris);
  width: min(
    60rem,
    100%
  ); /*  Utilizar funcion para tomar el valor mas pequeño*/
  margin: 0 auto; /* se usa porque el padre no es un display flex*/
  padding: 2rem;
  border-radius: 1rem;
}

.formulario fieldset {
  border: none; /*  Quitar borde visible formulario*/
}
.formulario legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem; /* separalo del primer input*/
  color: var(--primario);
}

.contenedor-campos {
}
.campo {
  margin-bottom: 2rem;
}
.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.campo input[type="text"] {
  /* input[type] elegi un input de a cuerdo al tipo*/
}
.input-text {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
