:root {
  /* se puede asignar otros valores como fuentes*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente-principal: 3.8rem;
}

/*permite adaptar tamtañp de texto a todos los dispositivos*/
html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Krub", sans-serif; /*aplica a todos los elementos de la pagina*/
}

.titulo {
  text-align: center;
  font-size: var(--fuente-principal);
}

.titulo span {
  font-size: 2rem;
}
