:root {
  /* se puede asignar otros valores como fuentes*/
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  --fuente-principal: 3.8rem;
}

/*permite adaptar tamtañp de texto a todos los dispositivos*/
html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Krub", sans-serif; /*aplica a todos los elementos de la pagina*/
}

.titulo {
  text-align: center;
  font-size: var(--fuente-principal);
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  width: 120rem;
  /*centrar elementos*/

  margin: 0 auto;
}

.nav-bg {
  background-color: var(--secundario);
}
.navegacion-principal {
  padding: 1rem;
  display: flex; /*flex habilita justify content para alinear horizontalmente*/
  justify-content: space-between; /*space-between añade separación entre los elementos*/
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none; /*quitar linea de abajo de link*/
}
